# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Files that might appear on external disks
.extra

# Sublime text project files (you typically want your sublime-project to be versioned)
# *.sublime-project
*.sublime-workspace

# ZSH shell files

.zshrc
local.zsh
log/.zsh_history
projects.zsh
custom/*
!custom/example
!custom/example.zsh
*.swp
!custom/example.zshcache
cache/